main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

p{
    line-height: 1.5;    
    font-size: 1.2em;
    text-align: justify;
}

/* h1, h2{
    line-height: 3;
} */

.titulos{
    line-height: 3;
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
}


#menu ul { 
    padding:0px;
    margin:0px;
    list-style:none;
    display: flex;
}

#menu ul li { 
    display: inline; 
    font-size: 1.2em;
    padding: 5px;
}

#menu ul li a {     
    padding: 2px 10px; 
    display: inline-block;    
    text-decoration: none; 
    /* border-bottom:3px solid #EDEDED;  */
    white-space: nowrap;
    /* color: #fff; */
}

.logo img{
    width: 35%; /*ou ajuste conforme necessário */
    /* Ajusta a largura máxima da imagem para 100% do contêiner pai */
    /* max-width: 100%; */ 
    height: auto;
}

.cabecalho{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

figure {
    text-align: center;
    display: inline-block;    
}

.caixa-imagem{
    text-align: center;
    margin-top: 1%;
}